@model Linkedin.Web.ViewModels.CertificationViewModel


<div>
    @Html.DisplayNameFor(x => x.Name): 
    <strong>@Model.Name</strong>
    <br>
    @Html.DisplayNameFor(x => x.Url):
    <strong>@Model.Url</strong>
    <br>
    @Html.DisplayNameFor(x => x.DateTaken):
    <strong>@Model.DateTaken</strong>
    <br>
    @Html.DisplayNameFor(x => x.ExpirationDate):
    <strong>@Model.ExpirationDate</strong>
    <br>
    <br>
</div>
